 <html>
     
<body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          hahaha
        </div>
        <div id="main-content" class="col-xs-9">
          main content
          <%= link_to image_tag('god_loves.png'), about_path %>
        </div>
      </div>
    </div>
  </body>
  
  </html>